.height-full {
    min-height: 100vh;
}

#sidebar{
    width: 140px;
}

#content{
    height: 100%;
}

/*sidebar*/
.nav.flex-column li a {
    color: #ffffff;
    font-size: 20px;
}

.nav.flex-column li a:hover {
    background: #333;
    color: #818181;
}

#show-sidebar-btn {
    display: none;
}

#show-sidebar-btn h2:hover {
    color: #818181!important;
}



/*quill editor*/
.ql-toolbar {
    background: #dae0e5;
}

.ql-container {
    background: #ffffff;
    color: #000000;
}

.ql-editor {
    min-height: 33vh;
}

.ql-container.ql-snow {
    height: auto;
}
.ql-editor {
    height: 150px;
    overflow-y: scroll;
}

#editor {
    overflow: auto;
    height: 50vh;
    background-color: #ffffff;
}

.ql-container .ql-editor {
    overflow: visible;
}

