.drop-menu{
    background: #fff;
    color:white;
}
.nav.flex-column li a {
    color: #ffffff;
}
.nav.flex-column li a:hover{
    background: #333;
}

.dropdown-menu li a:hover{
    background: #333;
}
