.height-full {
    min-height: 100vh;
}

.bg-color {
    background-color: #333;
}

/*table*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #ffffff;
}

/*scoreboard table*/
.scoreboard{
    width: 300px;
    height: auto;
    font-size: 13px;
}

.scoreboard tbody tr{
    height:20px;
    font-size: 13px;
}

.scoreboard-small-cell {
    width: 35px;
}

.scoreboard-medium-cell{
     width:45px;
 }
