/*article*/
.list-article {
    height: 70px;
}

h3{
    color: #000000;
    font-size: 15px;
}

.bg-color {
    background-color: #333;
}


.form-signin {
    width:100%;
    max-width:330px;
    padding:15px;
    margin:0 auto;
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.match-table{
    width: 100%;
    max-width: 300px!important;
}

.result-table{
    width: 100%;
    max-width: 500px;
}
