/*article*/
.list-article {
    height: 70px;
}

h3{
    color: #000000;
    font-size: 15px;
}

.bg-color {
    background-color: #333;
}


.form-signin {
    width:100%;
    max-width:330px;
    padding:15px;
    margin:0 auto;
    display: block;
}

.match-table{
    width: 100%;
    max-width: 300px;
}

.result-table{
    width: 100%;
    max-width: 500px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.align-content-top{
    flex-grow: 1;
}

.container-fluid{
    background:#fff;
}
